<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:gfe="http://www.springframework.org/schema/gemfire"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
">

	<context:property-placeholder/>

	<util:properties id="gemfireProperties">
		<prop key="name">SpringGemFireServerXmlApplication</prop>
		<prop key="mcast-port">0</prop>
		<prop key="log-level">${gemfire.log.level:config}</prop>
		<prop key="locators">${gemfire.locator.host-port:localhost[11235]}</prop>
		<prop key="start-locator">${gemfire.locator.host-port:localhost[11235]}</prop>
		<prop key="jmx-manager">true</prop>
		<prop key="jmx-manager-port">${gemfire.manager.port:1199}</prop>
		<prop key="jmx-manager-start">true</prop>
	</util:properties>

	<gfe:cache properties-ref="gemfireProperties"/>

	<gfe:cache-server id="gemfireCacheServer" auto-startup="true"
					  bind-address="${gemfire.cache.server.bind-address:localhost}"
					  host-name-for-clients="${gemfire.cache.server.hostname-for-clients:localhost}"
					  port="${gemfire.cache.server.port:12480}"
					  max-connections="#{T(io.pivotal.gemfire.main.SpringGemFireServerXmlApplication).DEFAULT_MAX_CONNECTIONS}"/>

	<gfe:partitioned-region id="Squares" persistent="false" key-constraint="java.lang.Long"
							value-constraint="java.lang.Long">
		<gfe:cache-loader ref="squaresCacheLoader"/>
	</gfe:partitioned-region>

	<bean id="squaresCacheLoader" class="io.pivotal.gemfire.main.SpringGemFireServerXmlApplication.SquaresCacheLoader"/>

</beans>
